html {
  background-color: #e2e2e2;
}

body {
  margin: 2em auto;
  max-width: 35em;

  background-color: #fff;
  border: 1px solid #ccc;
}

section {
  padding: 4em 1em;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

section:nth-child(5) {
  border: 0;
}

div {
  position: absolute;
  right: 1em;
  top: 0;
}

.box {
  height: 100px;
  top: calc(50% - 50px);
  width: 200px;
  transition: all 250ms linear;
  background-color: limegreen;
}

.js-show-hide {
  opacity: 0;
}

.diamond {
  height: 80px;
  right: 2em;
  top: calc(50% - 40px);
  width: 80px;
  transition: all 250ms linear;
  background-color: hotpink;
  transform: rotate(45deg);
}

.js-move {
  right: -8em;

}

.panel {
  width: 250px;
  top: 50%;
  max-height: 10em;
  background-color: yellow;
  transform: translateY(-50%);
  transition: all 250ms linear;
  color: darkgoldenrod;
  text-align: center;
  overflow: hidden;
}

.panel h2 {
  margin: 0;
  padding: 3rem 0;
}

.js-collapse-expand {
  max-height: 0px;
}

.circle {
  height: 100px;
  top: calc(50% - 50px);
  width: 100px;

  background-color: orange;
}

.js-circle-bounce {
  animation: circle-bounce 1s linear;
}

@keyframes circle-bounce {

  0% {
    top: calc(50% - 125px);
  }

  20% {
    top: calc(50% - 50px);
  }

  40% {
   top: calc(50% - 100px);
  }

  60% {
    top: calc(50% - 50px);
  }

  80% {
    top: calc(50% - 75px);
  }

  90% {
    top: calc(50% - 50px);
    right: 180px;
  }

  100% {
    top: calc(50% - 50px);
    right: 180px;
  }
}


.list {
  bottom: 1em;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 250px;

  border: 1px solid #ccc;
  overflow: hidden;
  overflow-y: auto;
}

.list li {
  padding: 0.5em;

  background-color: plum;
  border: 1px solid mediumpurple;
  overflow: hidden;
  color: mediumpurple;
}

.js-stack {
  animation: list-stack 1s ease-in;
}

@keyframes list-stack {

0% {
  max-height: 0px;
}

100% {
  max-height: 4em;
}

}
